button {
  font-weight: normal;
  border: none;
  border-radius: 0.3rem;
  padding: 0.4rem 0.75rem;
  cursor: pointer;
  transition: all 0.05s ease-in-out;
  border-width: 1.5px;
  border-style: solid;
  border-color: transparent;
  margin-right: 0.2rem;
}

.hollow {
  background-color: transparent;
  color: var(--black-light);
  border-color: var(--grey-main);
}

.hollow:hover {
  background-color: var(--grey-light);
  color: var(--black-main);
}

.primary {
  background-color: var(--primary-main);
  color: var(--white-main);
}

.primary:hover {
  background-color: var(--primary-dark);
}

.secondary {
  background-color: #dadffd;
  color: var(--primary-main);
}

.secondary:hover {
  background-color: var(--primary-light);
  color: var(--white-main);
}

.tertiary {
  background-color: transparent;
  color: var(--primary-main);
  text-decoration: underline;
}

.tertiary:hover {
  color: var(--primary-light);
  text-decoration: none;
}

.clean {
  background-color: transparent;
  color: var(--black-light);
  border-color: transparent;
}

.clean:hover {
  color: var(--black-main);
  text-decoration: underline;
}