.shadow {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}

.shadow-around {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 6px 6px 0px,
    rgba(255, 255, 255, 0.25) 0px 0px 0px 1px;
}

.shadow-big {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
